.list {
    margin-top: 20px;
    margin-bottom: 20px;
    
    .no-room {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }

    .room-list {
        margin-top: 10px;
        width: 100%;
        overflow: auto;
        padding-top: 10px;

        @media (max-width: 740px) {
            height: 93.5%;
        }

        @media (max-width: 600px) {
            height: 87%;
        }

        @media (max-width: 400px) {
            height: 64.5%;
        }
    }
}