.room-grid {
    display: block;
    text-align: center;
    background-color: #eeddda;
    text-decoration: none;
    padding: 15px;
    width: 100px;
    transition: 0.3s ease all;

    p {
        color: #000;
    }

    &:hover{
        background-color: #d1c2bf;
        animation: moveup 0.5s ease forwards;
        cursor: pointer;
    }

    &:not(:hover) {
        animation: movedown 0.5s ease forwards;
    }

    @keyframes moveup {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-5px);
        }
    }

    @keyframes movedown {
        0% {
            transform: translateY(-5px);
        }
        100% {
            transform: translateY(0);
        }
    }

}