.layout {
    display: flex;
    flex-direction: row;
    width: 100vw;

    .outlet-container {
        width: 100vw;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }
}
